<div class="main-container">
    <div class="container">
        <div class="form-row">
            <p class="label">Nombre de Subactividad</p>
            <mat-form-field>
                <input matInput placeholder="Nombre de Subactividad" [(ngModel)]="data.name" required="">
            </mat-form-field>
        </div>
        <div class="form-row">
            <p class="label">Fecha de Inicio</p>
            <mat-form-field>
                <input matInput type="date" name="fechaI" [(ngModel)]="data.fecha_inicio">
            </mat-form-field>
        </div>
        <div class="form-row">
            <p class="label">Fecha de Fin</p>
            <mat-form-field>
                <input matInput type="date" name="fechaF" [(ngModel)]="data.fecha_fin">
            </mat-form-field>
        </div>
        <div class="button-container">
            <button mat-raised-button (click)="cancelar()" style="margin-right: 15px;">Cancelar</button>
            <button mat-raised-button color="primary" (click)="update(data)" [disabled]="loading"
                style="display: flex;">
                <ng-container *ngIf="!loading">Modificar subactividad</ng-container>
                <ng-container *ngIf="loading">Modificando subactividad</ng-container>
                <mat-progress-spinner style="float: left; margin-right: 10px;" *ngIf="loading" mode="indeterminate"
                    diameter="20"></mat-progress-spinner>
            </button>
        </div>
    </div>
</div>