.main-container {
    justify-content: space-between;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
  }
  
  .form-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .label {
    margin-right: 15px;
  }
  
  .container {
    padding: 40px 40px 0px 50px;
  }