<div class="container">
    <div class="main-container">
        <div style="display: flex;margin-left: 0px; margin-top: 0px;">
            <mat-icon style="transform: scale(1.5); color: rgb(32, 32, 119);">{{'label'}}</mat-icon>
            <h1 style="margin-top: -2.5px; margin-left: 15px;">Datos de la empresa</h1>
        </div>
        <div class="parent-columns">
            <div class="column" style="width: 48%; ">
                <div class="search-container">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Área de la empresa</mat-label>
                        <input matInput placeholder="Ingrese nombre del área de la empresa" [(ngModel)]="area">
                    </mat-form-field>
                </div>
                <div class="button-container">
                    <!-- <button mat-raised-button color="accent" (click)="llenar()">Llenar auto</button> -->
                    <button [disabled]="userType == 'Usuario'" mat-raised-button color="primary" (click)="guardar()">Registrar área</button>
                </div>
            </div>
            <div class="column" style="width: 48%; margin-left: 25px;">
                <div class="list-container">
                    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                        <mat-tree-node *matTreeNodeDef="let node;" matTreeNodePadding class="item-mattree">
                            <div class="activity-name">
                                {{node.name}}
                            </div>
                            <button mat-button [matMenuTriggerFor]="menu" class="three-dot-button">
                                <mat-icon style="margin-left: 8px;">more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <ng-container>
                                    <button [disabled]="userType == 'Usuario'" mat-menu-item class="item-button" (click)="borrar(node)">
                                        <mat-icon>delete</mat-icon>
                                        <span class="text-sm">Eliminar</span>
                                    </button>
                                </ng-container>
                            </mat-menu>
                        </mat-tree-node>
                    </mat-tree>
                </div>
            </div>
        </div>
    </div>
</div>