.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    width: 90%;
    height: 90%;
    background-color: #f2f2f2;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
}

.search-container {
    display: flex;
    justify-content: space-between;
}

.search-field {
    flex: 1;
    margin-right: 10px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.list-container {
    margin-top: 20px;
    height: 72%;
    overflow-y: auto;
}

.percent-bar-parent {
    width: 350px;
    margin-left: 15px;
    margin-right: 15px;
    height: 15px;
    background-color: rgb(214, 214, 214);
}

.percent {
    width: 40px;
}

.percent-bar {
    height: 100%;
    background-color: rgb(12, 66, 168);
}

.activity-name {
    font-size: 16px;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.select-finished {
    width: 180px;
    margin-top: 10px;
    margin-bottom: -10px;
}

.mat-tree-node {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.three-dot-button {
    margin-left: auto;
    transform: scale(1.2);
    margin-right: 15px;
}

.item-button {
    width: 200px;
}

.item-mattree {
    height: 80px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}